.banner{
    background-image: url('../../Assets/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.4;

}